





/* Book */
.book {
	display: inline-block;
/*	width: 40px;
	height: 160px;*/
	border-width: 5px;
	border-top-style: ridge;
	border-left-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-color: red;
}

.vertical-book {
	width: 160px;
	height: 40px;

}

.horizontal-book {
	width: 40px;
	height: 160px;
}


/* Button styling */
.button {
	border-radius: 2em;
	background-color: #6dbdd6;
	color: white;
	text-align: center;
	-webkit-box-shadow: 4px 4px 4px rgba(64,64,64,.3);
	box-shadow: 4px 4px 4px rgba(64,64,64,.3);
	border: none;
}

.add-button {
	height: 2.5em;
	width: 7.5em;
	font-size: 1.4em;
}

.shelf-it {
	height: 2em;
	width: 5.25em;
	font-size: 1em;
}

.cancel {
	margin-left: 30px;
	height: 2em;
	width: 5.25em;
	font-size: 1em;	
}

.add-book-form {
	position: relative;
	left: 134%;
	opacity: 0;
}

.is-hidden {
	visibility: hidden;
}

.display-none {
	display: none;
}

/* Shelves and table */
.shelf {
	width: 400px;
	position: relative;
	z-index:1;
	border-bottom: 25px solid #b76c33;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
}
.shelf-edge {
	width: 400px;
	height: 25px;
	z-index: 10;
	position: relative;
	background: #965828;
	-webkit-box-shadow: 4px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.table-legs {
	width: 400px;
	height: 225px;
	border-left: 25px solid #965828;
	border-right: 25px solid #965828;
}

.drawer {
	width: 350px;
	height: 100px;
	border: 2px solid #7c4921;
	background-color: #b76c33;
	text-align: center;
	font-size: 6em;
	line-height: 100px;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

/* Library */
.library {
	width: 300px;
	height: 250px;
	border: 3px solid black;
	}

/* Comments/reviews section */
.thoughts {
	background-image: url('images/8.jpg');
	width: 300px;
	height: 300px;

}	